html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.page-wrapper {
  height: 100%;
}

.navbar {
  background-color: #8c70f3;
  box-shadow: 0 -3px 10px #212121;
  transition-property: top;
  transition-duration: .3s;
}

.navbar.nav-down {
  top: 0px;
}

.navbar.nav-up {
  top: -60px;
}

.navbar-brand {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

.navbar-dark .navbar-brand:hover {
  animation-duration: .3s;
  animation-name: shake;
  animation-iteration-count: 2;
}

@keyframes shake {
  from {
    top: 0;
  } 25% {
    top: 1px;
  } 50% {
    top: 0;
  } 75% {
    top: -1px;
  } to {
    top: 0;
  }
}

.content {
  padding: 80px 16px 35px 16px;
}

a {
  color: #8c70f3;
}

a:hover {
  color: #4d31e5;
}

footer li {
  font-size: .8em;
  list-style-type: none;
}

.icon-large {
  font-size: 2em;
  padding: 0 .2em;
}
